*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  flex-direction: column;
}

h2 {
  color: white;
  font-weight: 275;
  margin-top: 200px;
  font-size: 4em;
}

h5 {
  font-size: 3.75em;
  font-weight: 200;
  text-align: center;
  color: #1b1c1e;
  margin: 0;
}

h6 {
  font-size: 1.4em;
  line-height: 2.1;
  margin: 0 0 0 0.588em;
  color: #818b98;
}

header {
  display: table;
  position: relative;
  clear: both;
  float: none;
  width: 100%;
  left: 0;
  position: absolute;
  top: 0;
  z-index: 1;
  padding: 1.882rem 2.352rem;
}

.logo-link {
  display: inline-block;
  position: relative;
  float: left;
}

.logo {
  height: 2.941em;
  width: 2.941em;
}

.menu {
  float: left;
  list-style-type: none;
}

header nav {
  float: right;
}

header nav ul {
  display: flex;
}

header nav li a {
  font-weight: 400;
  font-size: 0.8em;
  padding: 0.941rem 0.706rem;
  text-decoration: none;
  color: #ffffff;
}

header nav .contact {
  font-weight: 600;
  font-size: 0.8em;
  padding: 0.941rem 0.706rem;
  text-decoration: none;
  color: #1c98ff;
  background-color: #ffffff;
}

.title {
  padding-bottom: 50px;
}

.hero {
  /* background-color: #1c98ff; */
  background-image: url(../assets/hero.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 900px;
}

#macbook-image {
  position: relative;
  top: 85%;
  left: 50%;
  width: 800px;
  margin-top: -550px;
  margin-left: -400px; /* Half the width */
}

#title-text {
  align-content: center;
  height: 100%;
  display: flex;
  justify-content: center;
  color: white;
}

.middle {
  display: flex;
}

.quote {
  width: 100%;
  padding: 4rem 0;
}

.body-section {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sub-heading {
  font-size: 1.118em;
  color: rgba(27, 28, 30, 0.75);
  line-height: 150%;
  margin-bottom: 1.25rem;
  text-align: center;
}

.body-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 4em 0;
}

.solutions {
  width: 40%;
  padding: 0 25px;
}

#plugin-image {
  height: 500px;
}

h4 {
  font-weight: 400;
  color: #182433;
  font-size: 40px;
  margin: 0px;
  padding-bottom: 20px;
}

.break-line {
  display: inline-block;
  margin-bottom: 40px;
  border-bottom: 1px solid #182433;
}

li {
  font-weight: 300;
  font-size: 22px;
  margin-bottom: 18px;
  color: #182433;
}

/* footer */
.primary-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  border-top: 1px solid #d7dae4;
  border-bottom: 1px solid #d7dae4;
  background-color: #e7eaf1;
}

.primary-footer-navigation,
.primary-footer-contact {
  display: inline-block;
  position: relative;
  padding: 4.704rem;
}

.primary-footer-navigation a.logo {
  display: inline-block;
  position: relative;
  color: #818b98;
  margin-bottom: 0.706rem;
}

.footer-nav {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
}

a.footer-link {
  padding: .353rem .706rem .353rem 0;
  font-weight: 600;
  font-size: 16px;
  padding-right: 10px;
  color: #818b98;
}

.footer-link {
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  /* color: blue; */
}

.secondary-footer-navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  background-color: #d9dce4;
  width: 40%;
  padding: 4.704rem;
  list-style-type: none;
}

.float, .float:hover, .float:visited{
  color: white;
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
}

.my-float{
	margin-top:22px;
}

h7 {
  font-weight: 600;
  font-size: 1.1em;
  line-height: 140%;
  margin-bottom: 0.706rem;
  color: #818b98;
}

.contact-method-type {
  font-weight: 600;
  font-size: 1.1em;
  color: #818b98;
}

.secondary-footer-navigation div a {
  line-height: 160%;
color: #6C7887}

.sub-footer {
  background-color: #e7eaf1;
  padding: 16px 4.704rem;
}

.copyright {
  display: inline-block;
  position: relative;
  float: left;
  line-height: 160%;
  color: #818b98;
  font-size: 0.824em;
}

a:hover {
  cursor: pointer;
}
